<footer>
    <div>
        <address>
            <ul>
                <li>Mathematics Graduate Student Association</li>
                <li><a href="https://math.berkeley.edu/">Department of Mathematics</a></li>
                <li><a href="https://www.berkeley.edu/">University of California, Berkeley</a></li>
            </ul>
        </address>
        {{- partial "linklist.html" .Site.Data.footer.departmentlinks -}}
    </div>
    <div>
        <p>See also:</p>
        {{- partial "linklist.html" .Site.Data.footer.seealsolinks -}}
    </div>
</footer>